body {
	background-color: gold;
}

h1 {
	color: black;
	background-color: gold;
	text-align: center;
	text-decoration: underline;
}

section {
	color: black;
	background-color: gold;
	text-align: left;
	font-style: italic;
}
#name {
	background: red;
}

#hex {
	background: #ff0000;
}

#rgb {
	background: rgb(255,0,0);
}
