body {
	background-color: white;
}

h1 {
	color: black;
	background-color: gold;
	text-align: center;
	text-decoration: underline;
}

section {
	color: black;
	background-color: gold;
	text-align: left;
	font-style: italic;
}
