@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:900');



* {
	box-sizing: border-box;
	/*margin: 0;*/
}

.header {
	overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 5px;
    border-bottom: 2.2px solid rgb(0, 255, 255);
}

.header a {
	float: left;
	color: #ececec;
	text-align: center;
	text-decoration: none;
	font-size: 1.125em; 
  	line-height: 25px;
  	border-radius: 4px;
  	padding: 12px;
}

.header {
		width: 100%;
}

.logo:hover {
	background-color: #00bfffb8;
	color: black;
}


.navright {
	width: 100%;
	overflow: auto;
	display: none;
	/*position: absolute;*/
	background-color: initial;
	min-width: 160px;
	/*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
	z-index: 1;
	position: relative;
	border-top: 1.5px solid rgba(0, 255, 255, 0.71);
}

.navright a {
	float: none;
	display: block;
	text-align: left;
}

label, #toggle, .navright {
	float: right;
}

#toggle {
	display: none;
}

label {
	display: block;
	line-height: 25px;
	padding: 12px;
	border-radius: 4px;
	/*width: 50%;*/
	text-align: right;
	color: #ececec;
    cursor: pointer;
}

label:hover {
	background-color: #00bfffb8;
	color: black;
}

#toggle:checked + .navright {
	display: block;
}

ul {
	padding: initial;
}


.navright a:hover {
	background-color: #00bfffb8;
	color: black;
}

button {
	/*text-align: center;*/
	cursor: pointer;
	color: white;
	background-color: rgba(0, 0, 255, 0.7);
	padding: 0 20px;
	border-radius: 10px;
	margin: 5px auto;
	padding: 10px 20px;
}

button:hover {
	background-color: red;
}

button:active {
	/*box-shadow: 0 5px green;*/
  	transform: translateY(4px);
}

.hero {
	background-image: url(https://78.media.tumblr.com/871106c3587147be04a10afda2614b91/tumblr_odg4huTCZU1u9ooogo1_500.gif);
	padding: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 1em;
    background-color: black;
    width: inherit;
}

.herotext {
	color: white;
	text-align: center;
  	/*position: absolute;*/
  	/*padding: 83px;*/
  	top: 50%;
  	left: 50%;
  	font-size: 1.500em;
  	width: inherit;
  	font-family: 'Cinzel Decorative', cursive;
}

.herotext p {
	font-size: 0.750em;
	letter-spacing: 1px;
}

form {
	display: block;
}

input {
  border-radius: 4px;
  padding: 8px 10px;
  border: 2px solid #D7D7D7;
  margin: 8px;
  font-size: 14px;
}

input:last-of-type {
  width: 87px;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

table, th, td {
	border: 2px solid black;
}

th, td {
	padding: 1em;
}
h2 {
	text-align: center;
}

h3, h4 {
	text-align: center;
}

#reservation {
	margin: 3em 0;
	text-align: center;
	display: block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.res {
    float: left;
    padding: 37px;
}

form {
    width: 48%;
    border: 2px solid black;
    margin-top: 1.1em;
}

.table {
	width: 48%;
	margin-left: 1em;
	margin-top: 1.1em;
}

#resInfo {
	display: block;
}

.input1 {
	margin-left: .5em;
}

.input2 {
	margin-left: 1.5em;
}

table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
}

tr, td {
	border: 1px solid black;
}

.locator {
	text-align: center;
	height: 50vh;
}

@media screen and (max-width: 560px) {
	.res {
		float: none;
		padding: 1em;
	}

	form {
		width: auto;
	}

	.table {
		width: 100%;
		margin: 1em 0 0 0;
	}

}