* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background: url(http://www.secretflying.com/wp-content/uploads/2017/10/world-cup-2018.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 100vh;*/
    background-position: center;
}

label, #toggle, nav {
	float: right;
}

section:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
}

label, #toggle {
	color: #ececec;
	/*text-align: center;*/
	/*text-decoration: none;*/
	font-size: 1.125em; 
  	line-height: 25px;
  	/*border-radius: 4px;*/
  	margin: auto;
  	display: none;
}

nav {
	background-color: #000000c9;
    border-bottom: 1px solid red;
    padding: 2em;
    text-align: center;
    margin: auto;
    width: 100%;
}

nav a {
	/*background-color: rgba(0, 0, 255, 0.7);*/
	color: white;
	text-decoration: none;
	padding: 1em;
	margin: 2em;
	border-radius: 4px;
}

nav a:hover {
	background-color: red;
	color: black;
}

main {
	max-width: 1200px;
	width: 96%;
	margin: 5em auto;
	padding: 0 1%;
}

.groups {
	float: left;
	width: 24%;
	margin: 0 5px 2em 5px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
}
h1 {
	text-align: center;
	margin: 1em auto;
	color: white;
	border-radius: 25px;
    border: 2px solid red;
   background-color: rgba(0, 0, 0, 0.75);
}

img {
	width: 100%;
	border: 2.5px solid white;
}

footer {
   width: 100%;
   background-color: rgba(0, 0, 0, 0.9);;
   color: white;
   text-align: center;
   padding: 1em;
}

footer:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
}

.rights {
	float: left;
	line-height: 2em;
}

.footernav {
	float: right;
    line-height: 2em;
    border-bottom: none;
    padding: initial;
    /* text-align: center; */
    margin: auto;
    width: initial;
}

@media only screen and (max-width: 1090px) {
	.groups {
		float: left;
		width: 48%;
		margin: 0 5px 2em 5px;
	}

}

@media only screen and (max-width: 570px) {
	.footernav {
		float: none;
		line-height: 1em;
		text-align: center;
		margin: 1em;
	}

	.rights {
		float: none;
		line-height: 1em;
		text-align: center;
	}
}

@media only screen and (max-width: 560px) {
	.groups {
		float: left;
		width: 94%;
		margin: 0 5px 2em 5px;
	}

	nav {
		background-color: rgba(0,0,0,0.7);
		width: 100%;
		/*overflow: auto;*/
		display: none;
		/*position: absolute;*/
    	/*background-color: initial;*/
    	/*min-width: 160px;*/
    	/*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    	z-index: 1;
    	position: relative;
    	/*border-top: 1.5px solid rgba(0, 255, 255, 0.71);*/
	}

	nav a {
		float: none;
		display: block;
		text-align: center;
		width: initial;
	}

	label {
		display: block;
		line-height: 25px;
		padding: 12px;
    	border-radius: 4px;
    	width: 100%;
    	text-align: center;
    	background-color: rgba(0, 0, 0, 0.7);
    	border-bottom: 1px solid white;
	}

	label:hover {
		background-color: red;
		color: black;
	}

	#toggle:checked + nav {
		display: block;
	}

}