* {
	box-sizing: border-box;
	margin: 0;
}

/*header*/ body {
	background: url(http://img.fifa.com/mm/photo/tournament/competition/02/90/83/57/2908357_full-lnd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center center;
}

section {
	text-align: center;
	width: 100%;
	height: inherit;
	/*padding: 10em;
	margin: auto;*/
}

h1 {
	/*margin: 5em 5em 0;*/
	padding: 3em 0 1em;
	font-size: 5em;
	color: white;
}

.cta {
	cursor: pointer;
	color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    /*margin: 5em auto;*/
    font-size: 18px;
    padding: .5em;
    background-color: #fffffff5;
    /*opacity: 0.5;*/
}

.cta:hover {
	background-color: black;
	color: white;
	opacity: 1;
}

.cta:active {
	transform: translateY(4px);
}


/*nav {
	background-color: #000000c9;
    border-bottom: 1px solid red;
    padding: 2em;
    text-align: center;
    margin: auto;
}

nav a {
	background-color: rgba(0, 0, 255, 0.7);
	color: white;
	text-decoration: none;
	padding: 1em;
	margin: 2em;
	border-radius: 4px;
}

nav a:hover {
	background-color: #00bfffb8;
	color: black;
}*/