@import url('https://fonts.googleapis.com/css?family=Monofett');
@import url('https://fonts.googleapis.com/css?family=Ewert');
@import url('https://fonts.googleapis.com/css?family=Vast+Shadow');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:900');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:900|Jacques+Francois+Shadow|Libre+Barcode+39+Text|Rye');

* {
	box-sizing: border-box;
	margin: 0;
}

.headerimage {
	background-image: url(https://www.tsri.com/media/k2/items/cache/d37b40f764b14a89e2058a44f05a96b6_XL.jpg);
  	height: inherit;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
}
.header {
	overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 5px;
    border-bottom: 2.2px solid rgb(0, 255, 255);
}

.header a {
	float: left;
	color: #ececec;
	text-align: center;
	text-decoration: none;
	font-size: 1.125em; 
  	line-height: 25px;
  	border-radius: 4px;
  	padding: 12px;
}

.navright a:hover {
	background-color: #00bfffb8;
	color: black;
}

.logo {
	/*font-family: 'Monofett', cursive;
	font-size: 25px;
	/*font-weight: bold;		
	/*font-family: 'Cinzel Decorative', cursive;	*/
	font-family: 'Libre Barcode 39 Text', cursive;	
}

.logo:hover {
	background-color: #00bfffb8;
	color: black;
}

label, #toggle, .navright {
	float: right;
}

label, #toggle {
	color: #ececec;
	/*text-align: center;*/
	/*text-decoration: none;*/
	font-size: 1.125em; 
  	line-height: 25px;
  	/*border-radius: 4px;*/
  	margin: auto;
  	display: none;
}
label {
	cursor: pointer;
}

#toggle {
	display: none;
}

.hero {
	background-image: url(https://media.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif);
	padding: 150px;
    background-position: initial;
    background-size: cover;
    background-repeat: no-repeat;
    /*margin-top: inherit;*/
    width: inherit;
}

h3 {
	text-align: center;
	margin: 1em 1em;
}

.cta {
	color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    margin: .5em auto;
    font-size: 18px;
    padding: .5em;
    background-color: #fffffff5;
}

.cta:hover {
	background-color: red;
	color: black;
}

.cta:active {
	transform: translateY(4px);
}

button {
	/*text-align: center;*/
	cursor: pointer;
	color: white;
	background-color: rgba(0, 0, 255, 0.7);
	padding: 0 20px;
	border-radius: 10px;
	margin: 5px auto;
	padding: 10px 20px;
}

button:hover {
	background-color: red;
}

button:active {
	/*box-shadow: 0 5px green;*/
  	transform: translateY(4px);
}

.herotext {
	color: white;
	text-align: center;
  	/*position: absolute;*/
  	/*padding: 83px;*/
  	top: 50%;
  	left: 50%;
  	font-size: 1.500em;
  	width: inherit;
  	font-family: 'Cinzel Decorative', cursive;
}

/*.cta {*/
	padding: 
}

.herotext p {
	font-size: 0.750em;
	letter-spacing: 1px;
}

.maincontent {
	width: 100%;
}

.h1text {
	text-align: center;
}

.maincontent:after {
	visibility: hidden;
  	display: block;
  	content: "";
 	clear: both;
  	height: 0;
}

main {
	width: 75%;
	float: right;
	margin: auto;
	padding: 20px;
	content: "";
    display: table;
    clear: both;
}

.articles {
  /*  float: left;
    width: 25%;*/
    padding: 10px;
    margin: auto;
}

.gallerybtn {
	display: none;
}

article h1 {
	text-align: center;
}

aside {
	width: 25%;
	float: left;
	margin: 4em auto;
	/*padding: 20px;*/
}

aside a {
	/*color: black;*/
	text-align: center;
	text-decoration: none;
	font-size: 1.125em; 
  	/*line-height: 25px;*/
  	border-radius: 4px;
  	padding: auto;
  	margin: auto;
  	border: 1px;
}

aside a:hover {
	background-color: #00bfffb8;
	color: red;
	padding: 5px;
}

li {
	padding: 5px;
}

aside h1 {
	text-align: center;
}

footer {
   width: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   color: rgb(0, 255, 255);
   text-align: center;
   padding: 1px;
}
.maincontent a:hover {
	background-color: #00bfffb8;
	color: black;
}

.maincontent a {
	text-align: center;
	text-decoration: none;
	font-size: 1.125em; 
  	line-height: 25px;
  	border-radius: 4px;
  	padding: auto;
  	margin: auto;
  	border: 1px;
}

@media screen and (max-width: 740px) {
	.hero {
		padding: initial;
	}
}

@media screen and (max-width: 670px) {
	main {
		width: auto;
		margin: 10px;
	}

	aside {
		display: none;
	}

	.gallerybtn {
		display: block;
	}

	.tohide {
		display: none;
	}
}

@media screen and (max-width: 650px) {
	.header {
		width: 100%;
	}



	.navright {
		width: 100%;
		overflow: auto;
		display: none;
		/*position: absolute;*/
    	background-color: initial;
    	min-width: 160px;
    	/*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    	z-index: 1;
    	position: relative;
    	border-top: 1.5px solid rgba(0, 255, 255, 0.71);
	}

	.navright a {
		float: none;
		display: block;
		text-align: left;
	}

	label {
		display: block;
		line-height: 25px;
		padding: 12px;
    	border-radius: 4px;
    	/*width: 50%;*/
    	text-align: right;
	}

	label:hover {
		background-color: #00bfffb8;
		color: black;
	}

	#toggle:checked + .navright {
		display: block;
	}

	ul {
		padding: initial;
	}
}

@media screen and (max-width: 605px) {
	/*aside {
		display: none;
	}*/

	main {
		width: auto;
		margin: 10px;
	}

	.gallerybtn {
		display: block;
	}

	.tohide {
		display: none;
	}
}

