@import url('https://fonts.googleapis.com/css?family=Faster+One');

@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

@import url('https://fonts.googleapis.com/css?family=BioRhyme:300');

@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

body {
  text-align: center;
  background: url("https://media.giphy.com/media/xUOxfpBYEIwxbbeoqQ/giphy.gif");
  background-size: cover;
  color: #fff;
  font-family: 'BioRhyme', serif;
}

h1 {
	font-family: 'Faster One', cursive;
}

main {
	font-family: 'Quicksand', sans-serif;
}

hr {
  width: 200px;
}

p  {
  font-size: 22px;  
}

nav {
  padding: 0;
  width: 100%;  
}

a {
  outline: none;
  text-decoration: none;
  width: 19.5%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3;
  color: orange;
}

footer {
  padding: 20px;
  text-align: center;
}

.copyright {
	 font-family: 'BioRhyme', serif;
}

.groups {
	font-family: 'Black Ops One', cursive;
	font-size: 20px;
}

@media only screen and (max-width: 320px) {
  /* For mobile phones: */
  body {
    width: 100%;
    background-size: cover;
  }

  .groups {
  	padding: 0;
  width: 100%;
  }
}