body {
  text-align: center;
  background: url("https://media.giphy.com/media/xUOxfpBYEIwxbbeoqQ/giphy.gif");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
  }

hr {
  width: 200px;
}

p {
  font-size: 22px;
}

ul {
  padding: 0;
  width: 100%;
}

a {
  outline: none;
  text-decoration: none;
  width: 19.5%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3;
  color: orange;
}

footer {
  display:block;
}