body {
  text-align: center;
  background: url("https://media.giphy.com/media/xUOxfpBYEIwxbbeoqQ/giphy.gif");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}

hr {
  width: 200px;
}

p {
  font-size: 22px;
}