@import url('https://fonts.googleapis.com/css?family=Faster+One');

@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

@import url('https://fonts.googleapis.com/css?family=BioRhyme:300');

@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');

body {
  text-align: center;
  background: url("https://media.giphy.com/media/xUOxfpBYEIwxbbeoqQ/giphy.gif") fixed;
  background-size: cover;
  color: #fff;
  font-family: 'BioRhyme', serif;
  font-size: 16px;
  background-repeat: no-repeat;
}

h1 {
	font-family: 'Faster One', cursive;
}

main {
	font-family: 'Quicksand', sans-serif;
}

hr {
	width: 200px;
	border: 0.5px solid white;
	margin: auto;
}

aside{
	
}

p  {
  font-size: 22px;  
}

a {
  outline: none;
  text-decoration: none;
  width: 19.5%;
  margin: auto;
  text-align: center;
  line-height: 3;
  color: orange;
  padding: 1px; 
}

nav {
  padding: 0;
  width: 100%;  
}

footer {
  padding: 120px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

.home {
	color: white;
}

.copyright {
	 font-family: 'BioRhyme', serif;
	 margin-right: 10px;
  	margin-left: 10px;
}

.groups {
	font-family: 'Black Ops One', cursive;
	font-size: 20px;
	display: inline;
}

.navlinks {
	margin-right: 10px;
  	margin-left: 10px;
}

@media only screen and (max-width: 667px) {
  /* For mobile phones: */
  body {
  	width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute; 
  	top: 0; 
  	left: 0; 
  	right: 0; 
  	bottom: 0; 
  	margin: auto; 
  }

  .groups {
  padding: 0;  
  }

}